@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;800&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #1f2632;
}

.card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: min(34em , 90%);
  min-height: auto;
  padding: 20px;
  background: #313a49;
  border-radius: 10px;
}

.title {
  font-size: clamp(0.7813rem, 0.7747rem + 0.0326vw, 0.8rem);
  text-transform: uppercase;
  color: hsl(150, 100%, 66%);
  font-weight: bold;
  letter-spacing: 5px;
  padding: 20px;
}

.advice {
  color: #cee3e9;
  font-size:  clamp(1.625rem, 1.5815rem + 0.2174vw, 1.75rem);
  font-weight: bolder;
  /* width: 90%; */
  text-align: center;
  line-height: 1.5;
     padding: 0 20px 20px 20px;
}

.advice p {
  padding-inline: 5px ;
}

.divider {
    margin-block: 15px ;
}

.dice {
    display: flex;
    justify-content: center;
    align-items: center;
    background:  #52ffa8;
    transform: translateY(50px);
    padding: 20px;;
    border-radius: 50%;
    transition: 0.25s;
}

.dice:hover {
    box-shadow: 0px 0px 30px #52ffa8  ;
}


/* Media Queries */

@media(width > 700px ) {
    .divider img:first-child {
        display: block;
    }
    .divider img:nth-child(2) {
        display: none;
    }
}

@media(width < 700px ) {
    .divider img:first-child {
        display: none;
    }
    .divider img:nth-child(2) {
        display: block;
    }
}